<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.akexorcist.example.feature_stackoverflow"
    split="feature_stackoverflow">

    <uses-permission android:name="android.permission.INTERNET" />

    <dist:module
        dist:onDemand="true"
        dist:title="@string/title_feature_stackoverflow">
        <dist:fusing dist:include="true" />
    </dist:module>

    <application>
        <activity
            android:name=".ui.stackoverflow.StackOverflowActivity"
            android:label="@string/profile_on_stackoverflow" />
    </application>
</manifest>

